<div id="report">
    <div id="timechart">
    </div>
    
    <p>Backlog size:
        <input id="backlog_size">
    </p>
    <p>Sample duration:
        <input id="sample_duration">
        <select id="sample_duration_units">
            <option value='days'>Days</option>
            <option value='weeks'>Weeks</option>
            <option value='months'>Months</option>
        </select>
    </p>
    <p>
        Exclusion filter:
        <input id="exclusion_filter">
    </p>
    <div id="forecast_section">

    </div>
</div>